[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dkany = {editable = true, path = "."}

[dev-packages]
pytest = "*"
exceptiongroup = "*"
pytest-cov = "*"
pytest-html = "*"
jupyter = "*"
luigi = "*"
twine = "*"
