[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dkany = {file = ".", editable = true}

[dev-packages]
pytest = "*"
exceptiongroup = "*"
pytest-cov = "*"
pytest-html = "*"
jupyter = "*"
luigi = "*"
twine = "*"
build = "*"
hatch = "*"
hatchling = "*"
pysftp = "*"
setuptools = "*"