name: Deploy
on:
  push:
    branches:
      - main

permissions:
  contents: write

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Add profile credentials to ~/.aws/credentials
        run: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID --profile devops
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY --profile devops
            aws configure set default.region us-east-1 --profile devops

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install pipenv
        run: pip install pipenv

      - name: Install toml and tomli
        run: pipenv install tomli toml

      - name: Deploy
        run: pipenv run bash scripts/publish_package.sh

      - name: Git tag with version
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          VERSION=$(cat src/dkany/__about__.py | grep '__version__' | cut -d'=' -f2 | tr -d '[:space:]' | tr -d '"')
          git tag "v$VERSION"
          git push origin "v$VERSION"