name: Deploy
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Add profile credentials to ~/.aws/credentials
        run: |
            aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID --profile devops
            aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY --profile devops
            aws configure set default.region us-east-1 --profile devops

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install pipenv
        run: pip install pipenv

      - name: Deploy
        run: pipenv run bash scripts/publish_package.sh
