name: Dkany - Pipeline
on:
  push:
    branches: ["main"]
  # pull_request:
  #   branches: ["main"]

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - name: Install dependencies with pipenv
        run: |
          pip install pipenv
          pipenv install --dev

      - name: run tests
        run: pipenv run bash scripts/test.sh
      
      - name: Upload all test artifacts
        uses: actions/upload-artifact@v3
        with:
          name: all-test-artifacts
          path: test-reports/*

