name: Dkany - Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  Test:
    strategy:
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies with pipenv
        run: |
          pip install uv
          uv sync --dev

      - name: run tests
        run: uv run bash scripts/test.sh

      - name: types
        run: uv run mypy ./src/dkany/**/*.py

      - name: fmt
        run: uv run ruff check .
      
      - name: Upload all test artifacts
        uses: actions/upload-artifact@v4
        with:
          name: all-test-artifacts-${{matrix.python-version}}
          path: test-reports/*

